* {
  padding: 0;
  margin: 0;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.main-stuff {
  background: #dddddd;
  padding: 50px 70px;
  border: 2px solid rgba(0,0,0,1);
  box-shadow: 17px 17px 1px #ff2994, 17px 17px 1px 2px rgba(0,0,0,1);
}